.container__big-card {
  width: 525px;
  height: 250px;
  margin-left: 15px;
  margin-right: 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__title > h1 {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.big-card__title > p {
  margin-left: 10px;
}

.big-card__title > p > a {
  color: #ccc;
}

.big-card__photo > img {
  width: 100%;
  min-width: 525px;
}
