<div class="container__big-card">
  <div class="big-card__photo">
    <!-- mockado -->
    <img
      src="../../../assets/img/placeholder.png"
      alt="img"
      height="250px"
      width="300px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Title das receitas</a></h1>
    <p>
      <a href="#"> description das recieps Lorem, ipsum dolor sit amet consectetur adipisicing elit.
       Beatae est magnam aperiam eaque minima! Labore suscipit, perferendis in placeat rerum
       sint commodi provident expedita id, sunt illo est ipsum atque?
      </a>
    </p>
  </div>
</div>