<header>
  <app-header></app-header>
</header>
<app-carousel></app-carousel>
<article class="container__articles">
  <div class="articles_main">
    <app-big-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQCyXga0LgtUES34EepPai9hU5iGpcQdHy7Q&usqp=CAU"
      cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
      cardDescription="Novo homem de ferro será lançado em 2025, com a filha sendo a protagonista"
      >
    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</article>